@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body {
    background-color: #F2F2F2;
}

.container{
    width: 350px;
    height: 596px;
    border-radius: 15px;
    margin: auto;
    background-color: rgba(21, 38, 63, 1);
}

.main_photo {
    width: 302px;
    height: 302px;
    border-radius: 8px;
    margin: 24px 24px 0px 24px;
}

.main_h1 {
    margin: 24px 24px 0px 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-family: 'Outfit', sans-serif;

}

.main_p {
    color: rgba(139, 172, 217, 1);
    font-size: 18px;
    margin: 16px 24px 0px 24px;
    font-family: 'Outfit', sans-serif;
}


.time {
    display: flex;
    /* justify-content: space-evenly; */
    /* margin: 24px 0px 0px 24px; */

}

.time_h1 {
    font-size: 16px;
    color: rgba(0, 255, 248, 1);
    font-family: 'Outfit', sans-serif;
    margin-left: 24px;
    margin-top: 14px;
    /* margin: 24px 0px 0px 24px; */
}

.time_small {
    /* margin: 24px 24px 0px 0px ; */
    font-size: 16px;
    color: rgba(139, 172, 217, 1);
    font-family: 'Outfit', sans-serif;
    position: relative;
    margin-left: 145px;

    display: flex;
    align-items: center;
}


hr {
    width: 302px;
    text-align: center;
    border: 1px solid rgba(46, 64, 90, 1);
}


.under_const {
    display: flex;
    margin: 22px 0px 0px 24px;
}

.under_smallfirst{
    color: rgba(139, 172, 217, 1);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.under_small{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    margin-left: 5px;
    display: flex;
    align-items: center;
}












.under_photo {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}